h1 {
    font-size: xx-large;
    text-align: center;
}

html {
    background-color: aquamarine;
}

.pin {
    border-radius: 15px;
    border: 5px solid black;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: 50%;
}

a {
    width: 100px;
    height: 100px;
}

article {
    position: relative;
    left: 500px;
}

aside {
    position: relative;
    top: 200px;
    width: 100%;
}